.order-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 400px;
  padding-top: 16px;
}

.full-width {
  width: 100%;
}

.inline-spinner {
  display: inline-block;
}

.ml-2 {
  margin-left: 8px;
}

